<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email Address</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email Address">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Adhar id</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Adhar id">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mobile Number</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Address">
  </div>
  <label>which type of houes do you want to buy <input type="radio" value="single bedroom">single bedroom <input type="radio" value="double bedroom"> double bedroom </label><br>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>