<!DOCTYPE html>
<html lang="en">
<head>
  
    <link rel="stylesheet" href="./findwayhome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <title>findwayhome</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
</head>
<body id='body'>
    <nav class="navbar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="Brand" src="./home_brand.jpg"></a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="./buy">Buy<span class="sr-only">(current)</span></a></li>
              <li><a href='./rent'>Rent</a></li>
              <li><a href="./sell">Sell</a></li>
              {{!-- <li><a href="#">Mortgages</a></li> --}}
              {{!-- <li><a href="#">Agent finder</a></li>
              <li><a href="#">Advice</a></li> --}}
              <li><a href='./homedesign'>Home design</a></li>
              <li><a href="https://www.youtube.com/watch?v=dNFn6g4RLLk&ab_channel=SamPhoas">More</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://www.youtube.com/watch?v=dNFn6g4RLLk&ab_channel=SamPhoas"><span class="aa">Advertise</span></a></li>
              <li><a href="./sign"><span class="aa">Sign in</span></a></li>
              <li><a href="./login">login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
<h1>Find your way home</h1>
<ul>
    <li><a href='./buy'>Buy</a></li>
    <li><a href='./rent'>Rent</a></li>
    <li><a href="./sell">Sell</a></li>
    <li><a href="./homedesign">Designs</a></li>
</ul>
</div>
{{!-- <p id="digital-clock"></p> --}}
<div id="mar">
<marquee behavior="" direction="left">“A house is made of bricks and beams. A home is made of hopes and dreams.”</marquee></div>
<div id="six">
<nav id="five"class="navbar navbar-fixed-bottom">
    <i id="one" class="fa fa-home fa-2x" aria-hidden="true"></i>    &nbsp;<span id="two">House obsessed?</span>&nbsp;&nbsp;<span id="three">Watch our new show for the open house enthusiast.</span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           
<span id="four"><a href="https://www.youtube.com/watch?v=dNFn6g4RLLk&ab_channel=SamPhoas">Watch now</a></span> </nav>
</div>
<div id="seven"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      <script type="text/javascript" src="./findwayhome.js"></script>
    </body>
</html>