<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../CSS/homedesign.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>Document</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
      <div class="container">
    <div class="jumbotron">
        <h2><span  aria-hidden="true"></span>&nbsp;&nbsp;HOME DESIGN PHOTO GALLERY</h2>
        {{!-- <p>this is short cut to go to macharla...already crores of people tested..why dont you test</p> --}}
    </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="home4.jpg"></div></div>
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="./homedesign1.jpg"></div></div>
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="./homedesign3.jpg"></div></div>
    
    
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><a href="./buy"><img src="./homedesign2.jpg"></a></div></div>
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="./homedesign4.jpg"></div></div>
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="./home4.jpg"></div></div>
    
    
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="./homedesign7.jpg"></div></div>
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="./homedesign9.jpg"></div></div>
      <div class="col-lg-4 col-sm-6 col-xl-12"><div class="thumbnail"><img src="./homedesign8.jpg"></div></div>
    </div>
  </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      
</body>
</html>